<ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="true">
  <li nz-submenu>
    <span title>
      <i class="reco reco-apply"></i>
      <p>应用</p>
    </span>
    <ul>
      <li nz-menu-item [routerLink]="['/index']" nzSelected>应用管理</li>
      <li nz-menu-item>产品管理</li>
    </ul>
  </li>
  <li nz-menu-item>
    <span>
      <i class="reco reco-jurisdiction"></i>
      <p>权限</p>
    </span>
  </li>
  <li nz-submenu>
   <span title>
     <i class="reco reco-news"></i>
     <p>消息</p>
   </span>
    <ul>
      <li nz-menu-item>场景配置</li>
      <li nz-menu-item>消息日志</li>
    </ul>
  </li>
  <li nz-menu-item>
   <span>
     <i class="reco reco-config"></i>
     <p>配置</p>
   </span>
  </li>
  <li nz-menu-item>
   <span>
     <i class="reco reco-log"></i>
     <p>日志</p>
   </span>
  </li>
  <li nz-menu-item>
   <span>
     <i class="reco reco-garden"></i>
     <p>园区</p>
   </span>
  </li>
  <li nz-menu-item>
    <span>
      <i class="reco reco-users"></i>
      <p>用户</p>
    </span>
  </li>
</ul>
