<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="true" [nzSelectable]="true">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
      <li *ngIf="!menu.children" nz-menu-item nzMatchRouter>
        <a [routerLink]="menu.link">
          <i [ngClass]="menu.icon" *ngIf="menu.icon"></i>
          <p>{{ menu.name }}</p>
        </a>
      </li>
      <li *ngIf="menu.children" nz-submenu>
        <span title>
          <i [ngClass]="menu.icon"></i>
          <p>{{menu.name}}</p>
        </span>
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>
