<views [direction]="'column'">
  <div class="alain-default__content-title">
    <h1> 系统角色授权
      <small>
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a>权限</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            系统角色授权
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </small>
    </h1>
  </div>
  <views [hidden]="true" class="padding">
    <nz-table
      #rowSelectionTable
      default-table
      nzShowPagination
      nzShowSizeChanger
      [nzData]="listOfAllData"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
          nzWidth="100px"
        ></th>
        <th nzWidth="30%">Name</th>
        <th nzWidth="30%">Age</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"
        ></td>
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
      </tr>
      </tbody>
    </nz-table>
  </views>
</views>
